PLANE_FOR_SALE
{
	COLOR:#fff;
	BACKGROUND-COLOR:GRAY;
	WIDTH:100%;
}
MAKE
{
	COLOR:green;
	FONT-FAMILY:forte;
	FONT-SIZE:25PX;
	MARGIN-TOP:20PX;
	
}
MODEL
{
	COLOR:#fff;
	FONT-FAMILY:arial;
	FONT-SIZE:20PX;
}
YEAR
{
	COLOR:pink;
	FONT-FAMILY:arial;
	FONT-SIZE:25PX;
}
COLOR
{
	COLOR:RED;
	FONT-FAMILY:arial;
	FONT-SIZE:25PX;
}

DESCRIPTION
{
	COLOR:orange;
	FONT-FAMILY:RED;
	FONT-SIZE:25PX;
}
PRICE
{
	COLOR:#ccc;
	FONT-FAMILY:RED;
	FONT-SIZE:25PX;
}
SELLER
{
	COLOR:blue;
	FONT-FAMILY:RED;
	FONT-SIZE:25PX;
}

MAKE,MODEL,YEAR,COLOR,DESCRIPTION,PRICE,SELLER,LOCATION
{
	DISPLAY:BLOCK;
	margin-left:550px;
	background-color:pink;
	
}